In [172]:
import os

files = [f for f in os.listdir('.') if os.path.isfile(f)]
for f in files:
    print(f)

chromedriver.exe
example.db
Excel in nutshell.ipynb
invoice sample - Copy.xlsx
invoice sample.xlsx
Lance.ipynb
time sample - Copy.xlsx
time sample.xlsx
Web and GUI automation.ipynb
~$invoice sample.xlsx
~$time sample.xlsx

In [191]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
importFileName = 'time sample.xlsx'


def processFile(fname):
    times = pd.read_excel(fname, index_col=None, header=None)
    times = times.iloc[2:24, 2:11]
    times = times.fillna(0)
    times = times.drop(columns=[3, 10])
    return times

currentTimes = processFile(importFileName)

def processFirstWeek(currentTimes):
    firstWeek = currentTimes.iloc[0:9, 0:11]
    firstWeekTotal = firstWeek[9][10] #This looks like it is using column name ...
    firstWeek.columns = firstWeek.iloc[0]
    firstWeek.reindex(firstWeek.index.drop(2))
    firstWeek['DailyTotal'] = firstWeek.sum(axis=1)
    firstWeek = firstWeek.iloc[1:9]
    firstWeek.rename(columns={0:'Date'}, inplace=True)
    firstWeek['Date'] = firstWeek['Date'].astype(str)
    firstWeek = firstWeek.applymap(str)
    return firstWeek

firstWeek = processFirstWeek(currentTimes)

In [192]:
#Task 3: Produce Weekly report on projects
#3.1 DB!
import sqlite3

contractorName = 'John Doe'

conn = sqlite3.connect('example.db')
c = conn.cursor()

#3.2 Create Table - Project (Project Name: Description)
c.execute('''Create table if not exists projects(ProjName text, ProjDesc text)''')
c.execute('''Create Table if not exists timeEntries(ContName text, ProjName text, Date text, Hour text)''')

c.execute("Delete from projects")
c.execute("Delete from timeEntries")


c.execute("INSERT INTO projects values ('CBC', 'Canada Broadcasting Service')")
for index, row in firstWeek.iterrows():    
    for i in range(1, row.size-1):
        c.execute("INSERT INTO timeEntries values(?, ?, ?, ?)", (contractorName, row[0], row.index[i], row[i]))
conn.commit()
conn.close()

In [193]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()

for row in c.execute('SELECT rowid, * FROM projects ORDER BY ProjName'):
    print(row)

conn.close()

(1, 'CBC', 'Canada Broadcasting Service')

In [194]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()

for row in c.execute('SELECT rowid, * from timeentries order by date'):
    print(row)
conn.close()

(2, 'John Doe', '2018-11-05 00:00:00', 'CBC', '1')
(8, 'John Doe', '2018-11-06 00:00:00', 'CBC', '2')
(14, 'John Doe', '2018-11-07 00:00:00', 'CBC', '3')
(20, 'John Doe', '2018-11-08 00:00:00', 'CBC', '4')
(26, 'John Doe', '2018-11-09 00:00:00', 'CBC', '5')
(32, 'John Doe', '2018-11-10 00:00:00', 'CBC', '6')
(38, 'John Doe', '2018-11-11 00:00:00', 'CBC', '7')
(44, 'John Doe', '0', 'CBC', '28')
(6, 'John Doe', '2018-11-05 00:00:00', 'Description', '0')
(12, 'John Doe', '2018-11-06 00:00:00', 'Description', '0')
(18, 'John Doe', '2018-11-07 00:00:00', 'Description', '0')
(24, 'John Doe', '2018-11-08 00:00:00', 'Description', '0')
(30, 'John Doe', '2018-11-09 00:00:00', 'Description', '0')
(36, 'John Doe', '2018-11-10 00:00:00', 'Description', '0')
(42, 'John Doe', '2018-11-11 00:00:00', 'Description', '0')
(48, 'John Doe', '0', 'Description', '140')
(4, 'John Doe', '2018-11-05 00:00:00', 'Jays  SW', '1')
(10, 'John Doe', '2018-11-06 00:00:00', 'Jays  SW', '2')
(16, 'John Doe', '2018-11-07 00:00:00', 'Jays  SW', '3')
(22, 'John Doe', '2018-11-08 00:00:00', 'Jays  SW', '4')
(28, 'John Doe', '2018-11-09 00:00:00', 'Jays  SW', '5')
(34, 'John Doe', '2018-11-10 00:00:00', 'Jays  SW', '6')
(40, 'John Doe', '2018-11-11 00:00:00', 'Jays  SW', '7')
(46, 'John Doe', '0', 'Jays  SW', '28')
(1, 'John Doe', '2018-11-05 00:00:00', 'Snet', '1')
(7, 'John Doe', '2018-11-06 00:00:00', 'Snet', '2')
(13, 'John Doe', '2018-11-07 00:00:00', 'Snet', '3')
(19, 'John Doe', '2018-11-08 00:00:00', 'Snet', '4')
(25, 'John Doe', '2018-11-09 00:00:00', 'Snet', '5')
(31, 'John Doe', '2018-11-10 00:00:00', 'Snet', '6')
(37, 'John Doe', '2018-11-11 00:00:00', 'Snet', '7')
(43, 'John Doe', '0', 'Snet', '28')
(3, 'John Doe', '2018-11-05 00:00:00', 'TSC-fix', '1')
(9, 'John Doe', '2018-11-06 00:00:00', 'TSC-fix', '2')
(15, 'John Doe', '2018-11-07 00:00:00', 'TSC-fix', '3')
(21, 'John Doe', '2018-11-08 00:00:00', 'TSC-fix', '4')
(27, 'John Doe', '2018-11-09 00:00:00', 'TSC-fix', '5')
(33, 'John Doe', '2018-11-10 00:00:00', 'TSC-fix', '6')
(39, 'John Doe', '2018-11-11 00:00:00', 'TSC-fix', '7')
(45, 'John Doe', '0', 'TSC-fix', '28')
(5, 'John Doe', '2018-11-05 00:00:00', 'vitatree', '1')
(11, 'John Doe', '2018-11-06 00:00:00', 'vitatree', '2')
(17, 'John Doe', '2018-11-07 00:00:00', 'vitatree', '3')
(23, 'John Doe', '2018-11-08 00:00:00', 'vitatree', '4')
(29, 'John Doe', '2018-11-09 00:00:00', 'vitatree', '5')
(35, 'John Doe', '2018-11-10 00:00:00', 'vitatree', '6')
(41, 'John Doe', '2018-11-11 00:00:00', 'vitatree', '7')
(47, 'John Doe', '0', 'vitatree', '28')

In [181]:
invoices = pd.read_excel('invoice sample.xlsx')
invoices.head(3)

,Unnamed: 0,Up Workshop,Unnamed: 2,Unnamed: 3,QUOTATION,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,180 Strachan Ave.,NaN,NaN,Date,Quote#,NaN,NaN
1,NaN,"Toronto, Ontario",NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,M6J 2S9,NaN,NaN,NaN,NaN,NaN,NaN